@model IEnumerable<REV_EXAM_3.ViewModels.Combo>

@{
    ViewBag.Title = "ComboOf2Models";
}

<h2>ComboOf2Models</h2>

@*To see how to do a template for a model, see SpecificTemple in Main folder

This page is for a view Model see the ViewModel Combo and i the main controller at 
the methode ComboOf2Models for explanation*@


@Html.DisplayForModel(Model)